/* http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*,
::after,
::before {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

html {
  font-size: 100%;
}

.wrapper {
  margin: 0 auto;
  
  max-width: 600px;
}


.theme_page {
  font-family: Arial, Helvetica, sans-serif;
  color: #000000;
  background-image: url(../images/brown_wood.jpg);
}

.theme_element_backgroundcolor {
  background-color: white;
}

.page_header {
  margin: 15px 0;
  border-bottom: 2px #333333;
  border-style: solid;
}

.profil_image {
  display: block;
  width: 3rem;
  position: absolute;
  margin-left: 300px;

}

h4 {
  font-size: 1.6rem;
  padding-left: 5px;

}

.product_image {
  display: block;
  width: 13rem;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0px;
  max-width: 100%;
}

.bean_image {
  width: 1.75rem;

}

.loyal_titel {
  width: 100%;
  height: 3.5rem;
  margin: 20px auto 0;
  text-align: center;
  font-size: 2.7rem;
  padding-top: 10px;
}


.bean_section {
  margin: 20px auto;
  width: 80%;
}

.bean_flexbox {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;

}

.bean_heading {
  margin-bottom: 5px;
}

.card {
  border: 3px solid black;
  width: 3.5rem;
  height: 3.5rem;
  margin-bottom: 10px;
  background-color: rgb(184, 176, 176);
  position: relative;
}

.card_heading {
  margin-bottom: 5px;
}

.card_content {
  padding: 10px 10px;
}
.card_content img {
  width: 2.5rem;
  height: 2.5rem;
  position: absolute;
  top:10%;
  right:10%;

}


.page_footer {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  height: 12rem;
  
  border-top: #000000;
  border-style: solid;
  background-color:sienna;

}

.some_image {
  order: 1;
  width: 50px;
  margin-right: 20px;
  margin-top: 16px;
}

.some_image1 {
  width: 50px;
  margin-right: 20px;
  margin-top: 16px;
}

.page_footer_adsress {
  margin-top: 5px;
}


.header_flexbox {
  display: flex;
  flex-direction: row;
  flex-wrap: ;
  justify-content: space-around;
  border-top: #333333;
  border-style: solid;
}

.text_flexbox {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 15rem;
  
  

  
}

.knapper_flexbox {

  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 5rem;
  position: fixed;
  top: 620px;
  left: 0;
  right: 0;
  background-color: #7aaa92;
  border-top: 3px;
  border-color: burlywood;
  border-style: solid;
  
}


.loyalitets_kort {
  width:3rem;
}
.bestil {
  width:3em;
}
.genbestil {
  width:3rem;
}


h3 {
  font-size: 50px;
}
/* ---- GENBESTIL DESIGN */

/* ---- DEL 2 FLEXBOX */
.quality_section {
  display: flex;
  flex-direction: column;
  border:solid 3px bisque;
  max-width: fit-content;
}

.quality_section1 {
  display: flex;
  flex-direction: column;
  border: solid 3px blue;
  max-width: 100px;
}

.quality_section2 {
  display: flex;
  flex-direction: column;
  border: solid 3px black;
  max-width: 100px;
}

.quality_section21 {
  display: flex;
  flex-direction: column;
  border: solid 3px red; 
  max-width: 100px;
}
/* ---- DEL 2 FLEXDONE DONE */

/* ---- GENBESTIL DESIGN DONE */ 

/*----- Loyalitets kort side ---- */

.bean_section1{
  text-align: center;
}

.bean_flexbox1 {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: row;
}

.beancard_content {
  display: flex;
  flex-direction: column;
  width: 1.5rem;
  height: 1.5rem;
  margin: 20px;
  justify-content:center ;
  
}

.bean_offer {
  margin-top: 16px ;
  text-align: center;
}